<div class="row">
  <div class="col">
    <form>
      <div class="form-row mb-2">
        <div class="col-lg-11 col-9">
          <input type="text" class="form-control"
                 placeholder="Repository name" [(ngModel)]="query" name="query" />
        </div>
        <div class="col-lg-1 col-3">
          <button type="button" class="btn btn-primary" (click)="search();">
            Search
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul *ngIf="searchResults.length > 0" class="list-inline">
      <li *ngFor="let result of searchResults" class="list-inline-item mb-2">
        <div class="card" style="width: 12rem;">
          <img alt="avatar" [src]="result.owner.avatar_url" class="card-img-top" />
          <div class="card-body">
            <h6 class="card-title"><a [href]='result.html_url'>{{ result.name }}</a></h6>
            <button type="button" class="btn btn-secondary " (click)="saveToBookmarks($event, result);">
              Save to bookmarks
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
